/**
 * @copyright 凯拓软件 [临渊羡鱼不如退而结网,凯拓与你一同成长]
 * @author bai <sleep@kaituocn.com>
 */

.env {
    width: 100%;
    height: auto;
}

.env .layui-table {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.env .layui-table thead tr {
    background-color: rgba(34, 34, 34, 0.8);
    color: #ffffff;
}

.env .layui-table tbody tr:hover {
    background-color: rgba(34, 34, 34, 0.8);
    color: #ffffff;
}

.running, .file, .function {
    display: inline-block;
    width: 100%;
    height: 1rem;
    margin: 0.5rem 0 0 0;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
}

.running-th-a {
    width: 20%;
}

.running-th-b {
    width: 30%;
}

.file-th-a, .fun-th-a {
    width: 30%;
}

.tbody tr td {
    text-align: left;
    line-height: 1rem;
}

.tbody tr td .layui-icon {
    margin-right: 0.3rem;
    position: relative;
    top: 0.1rem;
}

@media (max-width: 1440px) {
    .install-box {
        width: 60%;
    }
}

@media (max-width: 420px) {
    .install-box {
        margin: 3rem auto 0rem auto;
        width: 50rem;
    }
}

@media (max-width: 380px) {
    .install-box {
        margin: 3rem auto 0rem auto;
        width: 50rem;
    }
}

@media (max-width: 380px) and (max-height: 680px) {
    .install-box {
        margin: 3rem auto 0rem auto;
        width: 50rem;
    }
}

@media (max-width: 320px) and (max-height: 580px) {
    .install-box {
        margin: 3rem auto 0rem auto;
        width: 50rem;
    }
}
